<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>hyeonstagram</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="{% static 'default.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'modal.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

<!--navbar-->
<nav>
    <a href="../main">
        <div id="icon-logo-container">

            <img class="icon-logo" alt="icon_logo"
                 src="https://cdn-icons-png.flaticon.com/512/87/87390.png">
            <img class="basic-logo" alt="logo"
                 src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png">

        </div>
    </a>
    <input class="hidden form-control me-2" id="searchbar"
           type="search" placeholder="Search" aria-label="Search">
    <div id="icon-container">
        <a href="#">
            <div class="nav-list"><span id="home" class="nav-icon material-symbols-rounded">home</span><span
                    class="icon-text">Startseite</span></div>
        </a>
        <a href="#">
            <div class="nav-list"><span id="search" class="nav-icon material-symbols-rounded">search</span><span
                    class="icon-text">Suche</span></div>
        </a>
        <a href="#">
            <div class="nav-list"><span id="send" class="nav-icon material-symbols-rounded bottom-nav">send</span><span
                    class="icon-text">Nachrichten</span></div>
        </a>
        <a href="#">
            <div class="nav-list"><span id="favorite"
                                        class="nav-icon material-symbols-rounded top-nav">favorite</span><span
                    class="icon-text">Benachrichtungen</span></div>
        </a>
        <a href="#">
            <div class="nav-list"><span id="explore" class="nav-icon material-symbols-rounded bottom-nav">explore</span><span
                    class="icon-text">Entdecken</span></div>
        </a>
        <a href="#">
            <div id="nav-bar-add-box" class="nav-list"><span id="add-circle"
                                                             class="nav-icon material-symbols-rounded bottom-nav">add_circle</span><span
                    class="icon-text">Erstellen</span></div>
        </a>
        <a href="../profile">
            <div class="nav-list">
                <div id="nav-profile-photo-container">
                    <img alt="nav-profile" class="photo"
                         src="{{ user.profile_image }}"></div>
                <span class="icon-text">Profile</span>

            </div>
        </a>
    </div>
    <div id="nav-list-menu-icon">
        <a href="#">
            <div class="nav-list"><span class="nav-icon material-symbols-rounded">menu</span><span
                    class="icon-text">Mehr</span></div>
        </a>
    </div>
</nav>
<!--navbar end-->


<!--Modal window-->
<div class="modal-overlay">
    <div id="modal-close-button"><span class="material-symbols-outlined">close</span></div>
    <div class="modal-window">
        <div id="modal-top">
            <div>
                <span class="after-photo modal-top-icons material-symbols-outlined">arrow_back</span>
            </div>
            <div id="modal-window-title">
                Neuen Beitrag erstellen
            </div>
            <button id="feed-create-button" class="after-photo modal-top-icons">
                Teilen
            </button>
        </div>
        <div id="drop-zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
            <div id="feed-edit-container" class="after-photo">
                <div id="drop-zone-profile">
                    <div class="smallest-photo-container"><img class="photo"
                                                               src="https://pbs.twimg.com/media/E9s0Z08UYAIxtI7?format=jpg&name=large">
                    </div>
                    <div>muzikmusiker</div>
                </div>
                <div id="feed-text-input">
                    <textarea id="feed-textarea" name="feed-textarea"
                              placeholder="Bildunterschrift verfassen ..."></textarea>
                </div>
            </div>
            <div id="before-photo-drop-zone">
                <div id="add-photo-icon" class="before-photo material-symbols-outlined">
                    add_photo_alternate
                </div>
                <div id="add-photo-text" class="before-photo">Ziehe Fotos und Videos hierher</div>
                <div id="add-photo-button" class="before-photo">Vom Computer auswählen</div>
            </div>
        </div>
    </div>
</div>
<!--Modal window end-->


<div id="profile-container">
    <div id="profile-box">
        <div id="big-profile-image">
            <div class="big-photo-container" style="height: 130px; width: 130px;">
                <img alt="profile_photo" class="photo" src="{{ user.profile_image }}">
            </div>
        </div>
        <div id="profile-info-box">
            <div id="user-id-box">
                <div>{{ user.user_id }}</div>
                <button>
                    Profil bearbeiten
                </button>
                <div><span class="nav-icon material-symbols-rounded">settings</span>
                </div>
            </div>
            <div id=" follower-box"
                 style="display: flex; flex-direction: row; margin: 20px 0;">
                <div class="follower-box-list"><span>{{ user.feed_number }}</span> Beiträge</div>
                <div class="follower-box-list"><span>{{ user.follower_number }}</span>Follower</div>
                <div class="follower-box-list"><span>{{ user.following_number }}</span>abonniert</div>
            </div>
            <div id="profile-info">
                <div>{{ user.user_name }}</div>
                <div>{{ user.profile_text }}</div>
            </div>
        </div>
    </div>
    <div id="profile-feed-box">
        <div id="profile-feed-nav">
            <div class="profile-feed-nav-list">BEITRÄGE</div>
            <div class="profile-feed-nav-list">GESPEICHERT</div>
            <div class="profile-feed-nav-list">MARKIERT</div>
        </div>
        <div id="profile-feed">
            feed box
        </div>
    </div>
</div>

<script>
    let files;

    $('#nav-bar-add-box').click(function () {
        $('.modal-overlay').css({
            "display": "flex"
        });

        $(document.body).css({
            "overflow": "hidden"
        })
    });

    $('#modal-close-button').click(function (event) {
        $('.modal-overlay').css({
            "display": "none"
        })
        alert('Wenn du jetzt abbrichst, werden deine Änderungen nicht gespeichert.')
        if (event.dataTransfer.dropEffect !== 'none') {
            $(this).remove();
        }
    })

    $('.nav-list').hover(function () {
        $(".nav-icon", this).css("transform", "scale(1.07)");
    }, function () {
        $(".nav-icon", this).css("transform", "scale(1)");
    })

    $('#drop-zone')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e) {
        e.stopPropagation();
        e.preventDefault();
        if (e.type === "dragover") {
            $("#drop-zone").css({
                "background": "#fafafa"
            })
            $('#add-photo-icon').css({
                "color": "rgb(62, 140, 228)"
            })
        } else {
            $("#drop-zone").css({
                "background": "white"
            })
            $('#add-photo-icon').css({
                "color": "black"
            })
        }
    }

    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();
        dragOver(e);

        e.dataTransfer = e.originalEvent.dataTransfer;
        files = e.target.files || e.dataTransfer.files;

        if (files[0].type.match(/image.*/)) {
            $("#drop-zone").prepend("<img alt='uploaded photo' id='uploaded-photo' src='" + window.URL.createObjectURL(files[0]) + "'>")
                .css({
                    "outline": "none",
                    "background-size": "100% 100%",
                })
            $("#uploaded-photo").css({
                "width": "50%",
                "height": "100%",
                "object-fit": "contain",
            })
            $("#modal-window").css({
                "max-width": "800px",
                "width": "70%"
            })
            $("#feed-edit-container").css({
                "display": "flex",
                "width": "50%"
            })
            $(".before-photo").css({
                "display": "none"
            });
            $("#before-photo-drop-zone").css({
                "display": "none"
            })
            $(".after-photo").css({
                "visibility": "visible"
            });
            $("#modal-bottom").css({
                "display": "flex"
            });
            document.getElementById("modal-window-title").textContent = "Zuschneiden"
        } else {
            alert("Diese Datei wird nicht unterstützt")
        }
    }

    $("#feed-create-button").click(function () {
        let file = files[0];
        let image = file.name;
        let content = $("#feed-textarea").val();
        let user_id = "muzikmusiker";
        let profile_image = "https://pbs.twimg.com/media/E9s0Z08UYAIxtI7?format=jpg&name=large";

        let fd = new FormData();
        fd.append("file", file)
        fd.append("image", image)
        fd.append("content", content)
        fd.append("user_id", user_id)
        fd.append("profile_image", profile_image)

        $.ajax({
            url: "/content/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("success");
            },
            error: function (request, status, error) {
                console.log("error");
            },
            complete: function () {
                console.log("complete");
                location.replace("/main")
            },
        })
    })

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>