#profile-container {
    margin-left: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.profile-feed-nav-list {
    margin: 0 15px;
}

.follower-box-list {
    margin-right: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.follower-box-list span {
    font-weight: 500;
    margin-right: 5px;
}

#profile-container {
    padding-top: 50px
}

#profile-box {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

#big-profile-image {
    margin-right: 50px;
}

#profile-info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#user-id-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-id-box > div:first-child {
    font-size: 30px;
    font-weight: 300;
    margin-right: 20px
}

#user-id-box button {
    color: black;
    border: 1px solid lightgray;
    padding: 0 10px;
    height: 30px;
    border-radius: 7px;
}

#user-id-box > div:last-child {
    margin-left: 10px;
}

#follower-box {
    width: 100%;
    justify-content: space-between;
}

#profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 15px;
}

#profile-info > div:first-child {
    font-weight: 700;
}

#profile-feed-box {
    display: flex;
    flex-direction: column
}

#profile-feed-nav {
    display: flex;
    flex-direction: row;
    justify-content: center
}

#profile-feed-grid {
    display: grid;
    grid: auto / auto auto auto;
}

.profile-feed-grid-item {
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: contain;
    position: relative;
}

.profile-feed-photo, .profile-feed-grid-item-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

.profile-feed-grid-item-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1200px) {
    nav {
        width: 73px;
    }

    #profile-container {
        margin-left: 73px;
    }

    #nav-profile-photo-container {
        margin-right: 0;
    }

    .icon-logo {
        display: flex;
        width: 25px;
    }


    #icon-logo-container:hover {
        background: rgb(250, 250, 250);
        width: 50px;
    }

    .basic-logo, .icon-text {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    #profile-container {
        width: 100%;
    }

    .modal-window {
        width: 480px;
    }

    @media only screen and (max-width: 480px) {

        #profile-container {
            width: 100%;
        }

        #icon-container {
            display: none;
        }

        .modal-window {
            width: 400px;
        }

        #searchbar {
            display: flex;
        }
    }

}