<nav>
    <a href="../main">
        <div id="icon-logo-container">
            <img class="icon-logo nav-icon" alt="icon_logo"
                 src="https://cdn-icons-png.flaticon.com/512/87/87390.png">
            <img class="basic-logo" alt="logo"
                 src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png">
        </div>
    </a>
    <div id="icon-container">
        <a href="../main">
            <div class="nav-list"><span id="home" class="nav-icon material-symbols-rounded">home</span><span
                    class="icon-text">Startseite</span></div>
        </a>
        <a href="#">
            <div class="nav-list"><span id="search" class="nav-icon material-symbols-rounded">search</span><span
                    class="icon-text">Suche</span></div>
        </a>
        <a href="#">
            <div class="nav-list"><span id="send" class="nav-icon material-symbols-rounded bottom-nav">send</span><span
                    class="icon-text">Nachrichten</span></div>
        </a>
        <a href="#">
            <div class="nav-list"><span id="favorite"
                                        class="nav-icon material-symbols-rounded top-nav">favorite</span><span
                    class="icon-text">Benachrichtungen</span></div>
        </a>
        <a href="#">
            <div class="nav-list"><span id="explore" class="nav-icon material-symbols-rounded bottom-nav">explore</span><span
                    class="icon-text">Entdecken</span></div>
        </a>
        <a href="#">
            <div id="nav-bar-add-box" class="nav-list"><span id="add-circle"
                                                             class="nav-icon material-symbols-rounded bottom-nav">add_circle</span><span
                    class="icon-text">Erstellen</span></div>
        </a>
        <a href="../profile">
            <div class="nav-list">
                <div id="nav-profile-photo-container">
                    <img alt="nav-profile" class="photo"
                         src="/media/default_profile_photo.png"></div>
                <span class="icon-text">Profile</span>

            </div>
        </a>
    </div>
    <div id="nav-list-menu-icon">
        <a href="">
            <div class="nav-list"><span class="nav-icon material-symbols-rounded">menu</span><span
                    class="icon-text">Mehr</span></div>
        </a>
    </div>
</nav>
